.mainimage
	{	position:absolute;
		z-index:-1;
	}
.himanipic
	{   position:absolute;
		float:left;
		border-radius:50%;
		cursor:pointer;
		margin-top:70px;
	}
.abouthimani
	{   position:relative;
     	float:right;
		margin-top:50px;
		color:white;
		
	}
.name
	{
		color:white;
		font-size:50px;
		font-family:"curlz MT";
		text-decoration:;
		font-style:italic;
		margin-right:500px;
	}
.coder
	{
		font-family:Algerian;
		font-size:25px;
	}
.main
	{
		font-size:20px;
		word-spacing:18px;
		margin-right:200px;
		font-variant:small-caps;
		line-height:160%;
	}
button
	{
		border-radius:50%;
		font-size:25px;
		padding:20px;
		color:#66FFFF;
		background:transparent;
		border-color:#66FFFF;
		cursor:pointer;
	}	
a
	{
		text-decoration:none;
	}
button:hover
	{
		background-color:#6600FF;
	}
#footer
	{
		margin-left:750px;
		
	}